body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: normal;
  font-weight: normal;
  font-stretch: normal;
  font-variant: normal;
  font-size: medium;
}

a {
  text-decoration: none;
}

.info-card {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 3px lightgray;
  margin-inline: 3%;
  max-width: 400px;
}

.info-title {
  color: #1a98ff;
  font-size: large;
}

.info-value {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.graph-card {
  background-color: white;
  padding: 25px;
  box-shadow: 0 0 3px lightgray;
  margin-bottom: 50px;
}

.single-input {
  width: 95%;
  height: 38px;
  text-align: center;
  outline-width: 0;
}

.select-card {
  background-color: white;
  padding: 0;
  margin-right: 50px;
  box-shadow: 0 0 3px lightgray;
}

.select-head {
  padding: 20px;
  background-color: #1a98ff;
  text-align: center;
}

.select-h1 {
  margin: auto;
  color: white;
}

.select-body {
  padding: 20px;
}

.select-text {
  color: black;
}

.header-bar {
  top: 0;
  left: 0;
  background-color: #1a98ff;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-title {
  color: white;
  font-size: xx-large;
  text-align: center;
  font-weight: bold;
}

.text-input {
  height: 200px;
  width: 100%;
  border: 0;
  box-shadow: 0 0 3px lightgrey;
}

.task-container {
  height: 100%;
  padding: 50px 30px 30px;
  background-color: #f2f1f6;
}

.table-card {
  background-color: white;
  padding: 0;
  box-shadow: 0 0 3px lightgrey;
}

.table-head {
  height: 50px;
  background-color: #e6f7ff;
}

.table-corner {
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.table-cell {
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  height: 50px;
  width: auto;
  min-width: 100px;
  padding-left: 5px;
  padding-right: 5px;
}

.table-select-head {
  text-align: center;
  background-color: #e6f7ff;
  border: 0;
  height: 100%;
  width: 100%;
}

.table-input-head {
  border: 0;
  width: 95%;
  height: 95%;
  text-align: center;
  font-size: 15px;
  background-color: #e6f7ff;
  outline-width: 0;
}

.table-input {
  border: 0;
  width: 95%;
  height: 95%;
  font-size: 15px;
  text-align: center;
  outline-width: 0;
}

.delete-cell {
  border: 1px solid lightgrey;
  text-align: center;
}

.delete-cell:hover {
  color: white;
  background-color: #ff3939;
}

.add-cell {
  border: 1px solid lightgrey;
  text-align: center;
  background-color: white;
  color: grey;
  font-weight:normal;
}

.add-cell:hover {
  color: white;
  background-color: #65c565;
}

.result-h1 {
  text-align: center;
  margin: 50px;
}

.graph-title {
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-6 {
  grid-column: span 6;
}

.col-8 {
  grid-column: span 8;
}

.col-10 {
  grid-column: span 10;
}

.col-12 {
  grid-column: span 12;
}














